<ion-header>
  <ion-toolbar>
    <ion-item lines="none" button (click)="backPage()" mode="md">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      <ion-label>volver</ion-label>
      <ion-label slot="end" class="ion-text-wrap">{{carrera}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header>
    <ion-toolbar>
      <ion-item >
        <ion-title mode="ios">{{cuatrimestre}}</ion-title>
        
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item >
      <ion-label> {{anios}}</ion-label>
    </ion-item>
    <ion-card >
      <ion-card-header>
        <ion-item button>
          <ion-card-subtitle>{{anios}} </ion-card-subtitle>
          <ion-icon name="logo-dropbox" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Añadir a accesos rapido</ion-label>
          <ion-icon slot="end" name="git-branch-outline"></ion-icon>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item button>
          <ion-card-subtitle>Resolucion y problemas de algoritmos </ion-card-subtitle>
          <ion-icon name="logo-dropbox" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Añadir a accesos rapidos</ion-label>
          <ion-icon slot="end" name="git-branch-outline"></ion-icon>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item button>
          <ion-card-subtitle>Modelos y sistemas de informacion </ion-card-subtitle>
          <ion-icon name="logo-dropbox" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Añadir a accesos rapidos</ion-label>
          <ion-icon slot="end" name="git-branch-outline"></ion-icon>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item button>
          <ion-card-subtitle>Introduccion a la computacion </ion-card-subtitle>
          <ion-icon name="logo-dropbox" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Añadir a accesos rapidos</ion-label>
          <ion-icon slot="end" name="git-branch-outline"></ion-icon>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item button>
          <ion-card-subtitle>materia extra para el scroll </ion-card-subtitle>
          <ion-icon name="logo-dropbox" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label>Añadir a accesos rapidos</ion-label>
          <ion-icon slot="end" name="git-branch-outline"></ion-icon>
        </ion-item>
      </ion-card-header>
    </ion-card>
  </ion-list>

</ion-content>
<ion-button  slot={{position}} (click)="selectorCuatrimestre()">
  {{cuatrimestre}}
  <ion-icon name={{icon}} slot ={{position}}></ion-icon>
</ion-button>
<ion-tabs slot="bottom">
  <ion-tab-bar>
    <ion-tab-button>
      <ion-icon name="git-branch-outline"></ion-icon>
      <ion-label>Primero</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="git-branch-outline"></ion-icon>
      <ion-label>Segundo</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="git-branch-outline"></ion-icon>
      <ion-label>Tercero</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="git-branch-outline"></ion-icon>
      <ion-label>Cuarto</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="git-branch-outline"></ion-icon>
      <ion-label>Quinto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>