<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      FAIDrive
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="menu-drive">
  <!-- menu desplegable -->
  <!-- IMPORTANTE, cuando usamos un ion-menu, el contentId se transforma en un componente
  de ionic, ese componente como tal se incrusta en el html del ion-content  -->
  <!-- ejemplo, ion-content [fullscreen] = "true id="main", hara que se colapse en si mismo -->

</ion-content>
<ion-menu side="start" menuId="first" contentId="menu-drive">
  <ion-content>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title mode="md">Menu de carreras</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item (click)="menu('Licenciatura en ciencias')"><ion-label>Licenciatura en ciencias</ion-label></ion-item>
      <ion-item (click)="menu('Licenciatura en sistemas')"><ion-label>Licenciatura en sistemas  </ion-label></ion-item>
      <ion-item (click)="menu('Profesorado en Informatica')"><ion-label>Profesorado en Informatica</ion-label></ion-item>
      <ion-item (click)="menu('Tecnicatura en desarrollo web')"><ion-label>Tecnicatura en desarrollo web </ion-label></ion-item>
      <ion-item  lines="nones" (click)="menu('Tecnicatura en sistemas y software libres')" ><ion-label>Tecnicatura en software libre </ion-label></ion-item>
      <ion-list>
        <ion-list-header>Accesos diretos</ion-list-header>
      </ion-list>
    </ion-content>
    
      
  
  </ion-content>
    
</ion-menu>
